<div fxLayout="row" fxLayoutGap="20px">
	<mat-card fxFlex="50">
    <h2>Infos</h2>
    <mat-divider></mat-divider>
    <form class="mt3" [formGroup]="detailsForm" (ngSubmit)="onSubmit()" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Street" formControlName="street">
      </mat-form-field>

      <button fxFlexAlign="flex-start" mat-raised-button color="primary" type="submit">Save</button>
    </form>
  </mat-card>
  <mat-card fxFlex="50">
    {{detailsForm.value | json}}
    {{detailsForm.status | json}}
  </mat-card>
</div>
